APP_ENV=local
APP_NAME=app-chilecompra
APP_PORT=8000
DATABASE_URL=postgresql+psycopg://postgres:postgres@localhost:5432/chilecompra
TEST_DATABASE_URL=postgresql+psycopg://postgres:postgres@localhost:5432/chilecompra_test
LOG_LEVEL=INFO
DATASET_ROOT=/Users/NicolasEnriquez/Desktop/App ChileCompra/dataset-mercado-publico
